[user]
        email = nino.majder@gmail.com
        name = Nino Majder
[log]
        date = relative
[format]
        pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[pull]
        ff = only
[init]
        defaultBranch = main
[push]
        autoSetupRemote = true